# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code / IntelliJ
.vscode/
.idea/
*.iml

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db
